<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>

    <property name="connection.url">jdbc:mysql://localhost:3306/atg?characterEncoding=UTF-8</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

    <property name="connection.username">root</property>
    <property name="connection.password">8926024</property>

    <mapping class="com.kirichenko.Entities.ClientEntity"/>
    <mapping class="com.kirichenko.Entities.DaysEntity"/>
    <mapping class="com.kirichenko.Entities.DeliveryAddressEntity"/>
    <mapping class="com.kirichenko.Entities.DriverEntity"/>
    <mapping class="com.kirichenko.Entities.PermissionEntity"/>
    <mapping class="com.kirichenko.Entities.UsersEntity"/>
    <mapping class="com.kirichenko.Entities.BillEntity"/>
    <mapping class="com.kirichenko.Entities.BillFordriverEntity"/>
    <mapping class="com.kirichenko.Entities.JournalCallsEntity"/>
  </session-factory>
</hibernate-configuration>