<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>ModifyAddressServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.ModifyAddressServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ModifyOrderServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.ModifyOrderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ModifyClientServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.ModifyClientServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ModifyDriverServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.ModifyDriverServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.DeleteDriverServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.MainServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.AuthorizationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ClientList</servlet-name>
        <servlet-class>com.kirichenko.servlets.ClientsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OrderList</servlet-name>
        <servlet-class>com.kirichenko.servlets.OrdersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DriverList</servlet-name>
        <servlet-class>com.kirichenko.servlets.DriversServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Journal</servlet-name>
        <servlet-class>com.kirichenko.servlets.JournalServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Addresses</servlet-name>
        <servlet-class>com.kirichenko.servlets.AddressServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SmsInfo</servlet-name>
        <servlet-class>com.kirichenko.servlets.SMSInfoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.CreateOrderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteAddressServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.DeleteAddressServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddressForClientServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.AddressForClientServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ClientListServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.ClientListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DriverListServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.DriverListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ModifyUserServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.ModifyUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletWhoCalls</servlet-name>
        <servlet-class>com.kirichenko.servlets.ServletWhoCalls</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>SendSmsMessageServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.SendSmsMessageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletDriverRequest</servlet-name>
        <servlet-class>com.kirichenko.servlets.ServletDriverRequest</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.UserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteClientServlet</servlet-name>
        <servlet-class>com.kirichenko.servlets.DeleteClientServlet</servlet-class>
    </servlet>





    <servlet-mapping>
        <servlet-name>DeleteClientServlet</servlet-name>
        <url-pattern>/DeleteClient</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletDriverRequest</servlet-name>
        <url-pattern>/driverRequest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SendSmsMessageServlet</servlet-name>
        <url-pattern>/SendTryLogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletWhoCalls</servlet-name>
        <url-pattern>/whoCalls</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModifyUserServlet</servlet-name>
        <url-pattern>/ModifyUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/UsersList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DriverListServlet</servlet-name>
        <url-pattern>/GetDriverList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ClientListServlet</servlet-name>
        <url-pattern>/GetClientList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddressForClientServlet</servlet-name>
        <url-pattern>/GetAddressForClient</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteAddressServlet</servlet-name>
        <url-pattern>/DeleteAddress</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModifyAddressServlet</servlet-name>
        <url-pattern>/ModifyAddress</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModifyOrderServlet</servlet-name>
        <url-pattern>/ModifyOrder</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModifyClientServlet</servlet-name>
        <url-pattern>/ModifyClient</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModifyDriverServlet</servlet-name>
        <url-pattern>/ModifyDriver</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <url-pattern>/DeleteDriver</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainMenu</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ClientList</servlet-name>
        <url-pattern>/ClientList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OrderList</servlet-name>
        <url-pattern>/OrderList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DriverList</servlet-name>
        <url-pattern>/DriverList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Journal</servlet-name>
        <url-pattern>/Journal</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Addresses</servlet-name>
        <url-pattern>/Addresses</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SmsInfo</servlet-name>
        <url-pattern>/SmsInfo</url-pattern>
    </servlet-mapping>

</web-app>